<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
        id="cordova-plugin-powermanagement"
        version="2.0.0">
    <name>PowerManagement</name>
    <description>PowerManagement plugin for Cordova</description>
    <license>Apache 2.0</license>
    <keywords>cordova,powermanagement</keywords>

    <js-module src="www/powermanagement.js" name="device">
        <clobbers target="window.powerManagement" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PowerManagement" >
                <param name="android-package" value="org.apache.cordova.powermanagement.PowerManagement" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>

        <source-file src="src/android/PowerManagement.java" target-dir="src/org/apache/cordova/powermanagement" />
    </platform>
</plugin>
